{% extends ':customer:base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-6">
            <h1>{{ 'customer.cart.list.header'|trans }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>
                        {{ 'customer.cart.list.header.name'|trans }}
                    </th>
                    <th>
                        {{ 'customer.cart.list.header.quantity'|trans }}
                    </th>
                    <th>
                        {{ 'customer.cart.list.header.price'|trans }}
                    </th>
                    <th>
                        {{ 'customer.cart.list.header.actions'|trans }}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for item in itemForms %}
                    <tr>
                        <td>{{ item.vars.value.metadata.name }} ({{ item.vars.value.sku }})</td>
                        <td>{{ item.vars.value.quantity }}</td>
                        <td>{{ item.vars.value.price|number_format(2, '.', ',') }} {{ item.vars.value.currency }}</td>
                        <td>
                            {{ form_start(item) }}
                            {{ form_row(item.sku) }}
                            <input type="submit" class="btn btn-primary" value="{{ 'customer.cart.list.remove'|trans }}">
                            {{ form_end(item) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>{{ 'customer.cart.list.total'|trans }}</th>
                    <th>{{ cart.totalQuantity }}</th>
                    <th>{{ cart.totalPrice|number_format(2, '.', ',') }} {{ cart.currency }}</th>
                    <th></th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
